@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 15rem;
}

html,
body {
  @apply bg-bg text-white transition-colors duration-[333ms] ease-in-out;

  .text-description {
    @apply text-gray-400;
  }

  .bg-description {
    @apply bg-[#181923];
  }

  .text-hover-description {
    @apply hover:text-gray-200 mt-2;
  }

  .shadow-md-video {
    @apply shadow-md shadow-white/10;
  }
}

:root.light-theme {
  html,
  body {
    @apply bg-[#fdfdfd] text-[#1a1a1a];
  }

  .bg-bg {
    @apply bg-[#fdfdfd];
  }
  .border-border {
    @apply border-border_light;
  }

  .bg-border {
    @apply bg-border_light;
  }

  .text-description {
    @apply text-black;
  }

  .bg-description {
    @apply bg-gray-100;
  }

  .text-hover-description {
    @apply hover:text-gray-600 mt-2;
  }

  .shadow-md-video {
    @apply shadow-md;
  }
}

:root.new-theme {
  html,
  body {
    @apply bg-new text-white;
  }

  .bg-bg {
    @apply bg-new;
  }
  .text-description {
    @apply text-gray-400;
  }

  .bg-description {
    @apply bg-gray-800;
  }

  .text-hover-description {
    @apply hover:text-gray-200 mt-2;
  }

  .shadow-md-video {
    @apply shadow-md;
  }
}

.transition-theme {
  @apply transition-all duration-[333ms] ease-in-out;
}

@layer utilities {
  .grid-6-cols {
    @apply grid grid-cols-6 gap-3;
  }
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 10.5px;
  height: 10.5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 10.5px;
  height: 10.5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  width: 10.5px;
  height: 10.5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
